<!DOCTYPE html>
{% load  staticfiles %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wrong Page</title>
</head>
<body>

<div class="container">

    <div class="section">

        <div class="row">
            <div class="col-sm-12">
                <img src="{% static 'order/images/eror.jpg' %}" alt="">
            </div>

        </div>
    </div>

</div>
</body>
</html>