{% include 'order/base.html' %}



{% block content %}
    <form method="post" action="/fast/reg/" xmlns="http://www.w3.org/1999/html">
    {% csrf_token %}
    <div class="row">
        <div class="col s10">
        {{ customer_form.tel_number }}
        </div>
    </div>
    <button class="btn-large waves-effect waves-light teal lighten-1" type="submit">
        Place Order
    </button>
</form>
{% endblock %}
