{% extends 'order/base.html' %}

{% block title %}
    Menu
{% endblock %}

{% block content %}
    <div class="container">
        <div class="section">
            <div class="row">
                {% for food in object_list %}
                    <div class="col s3 md2">
                        <div class="card">
                            <div class="card-image">
                                <img style="width: 220px; height: 200px" src="{{ food.food_image.url }}"/>
                                <span class="card-title">{{ food.food_name }}</span>
                            </div>
                            <div class="card-content">
                                &#8358;{{ food.food_price }}
                            </div>
                            {% if user.is_authenticated %}
                                <div class="card-action">
                                    <button class="btn-floating" id="food-id" data-food="{{ food.id }}"><i
                                            class="mdi-content-add"></i></button>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}