<footer class="page-footer red darken-1">
    <div class="container">

    </div>
    <div class="footer-copyright">
        <div class="container">
            Design by <a class="brown-text text-lighten-3" href="http:pitaside.blogspot.com">Maryam</a>
        </div>
    </div>
</footer>