{% load staticfiles %}
<div class="navbar-fixed">
    <nav class="red lighten-1" role="navigation">

        <div class="nav-wrapper container">
            <a id="logo-container" href="{% url 'index' %}" class="brand-logo">
                <img src="{% static 'order/images/photo1.jpg' %}" width="100" height="65"/>
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{% url 'menu' %}">Menu</a></li>
                <li><a href="{% url 'cart' %}">
                    My Orders
                    <span id="cart_item">{{ count }}</span></a></li>
                <li><a href="/admin">Admin</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    <li>Number :: {{ user.username }}</li>
                {% endif %}
            </ul>
            <a data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
</div>
