{% extends 'order/base.html' %}
{% load staticfiles %}

{% block title %}
    Welcome
{% endblock %}



{% block content %}

    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">

                <div class="row center">
                    <div class="row">
                        <div class="col s10 m7 offset-l2">
                            <div class="card">
                                <div class="card-image">
                                    <img src="{% static 'order/images/photo2.jpg' %}">
                                    <span class="card-title">Burger and Pizza has never been served right before....</span>
                                </div>
                                <div class="card-content">
                                    <form method="post" action="/fast/" xmlns="http://www.w3.org/1999/html">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col s8 ">
                                                {{ customer_form.tel_number }}
                                            </div>
                                            <div class="col-s3">
                                                <button class="btn-large waves-effect waves-light teal lighten-1"
                                                        type="submit">
                                                    Place Order
                                                </button>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <br><br>

            </div>
        </div>
        <div class="parallax">
            <div class="parallax"><img src="{% static 'order/images/photo4.jpg' %}"></div>
        </div>
    </div>


{% endblock %}