
<form id="order_form" method="post" action="#">
    {% csrf_token %}
    <div class="row">
       <div class="input-field col s6">
            <i class="material-icons prefix">verified_user</i>
           {{ order_form.order_number }}

       </div>
    </div>
</form>