{% extends 'order/base.html' %}
{% load static %}
{% load staticfiles %}

{% block title %}
    Payment Successfull
{% endblock %}



{% block content %}
    <div class="container">
        <div class="section">
            <div class="valign-wrapper">

                <div class="row">
                    <div class="col s10 m7 offset-l2">
                        <div class="card">
                            <div class="card-image">
                                <img src="{% static  'order/images/giphy.gif' %}">
                                <span class="card-title">Payment Successful</span>
                            </div>
                            <div class="card-content">
                                <p>Thanks for patronizing our fast-food resturant, always come back for more meals.
                                    Thanks for patronizing our fast-food resturant, always come back for more meals.
                                </p>
                            </div>
                            <div class="card-action">
                                <a href="{% url 'menu' %}">Back</a>
                                <a href="{% url 'menu' %}">About</a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>

    </div>
{% endblock %}