{% extends 'order/base.html' %}

{% block title %}
    Order
{% endblock %}


{% block content %}
    <div class="container">
        {% if  user.is_authenticated %}
            <div class="row">
                <div class="col s7">

                    <div class="collection with-header">
                        <div class="collection-header">
                            <h4 class="center-align">
                                Orders
                            </h4>
                        </div>
                        {% if  orders %}
                            {% for order in orders %}
                                <li class="collection-item avatar">
                                    <img src="{{ order.food.food_image.url }}" alt="" class="circle">
                                    <span class="title">{{ order.food.food_name }}</span>

                                    <p>
                                        <strong>&#8358;{{ order.food.food_price }}</strong>
                                        <strong>Qty <b>({{ order.quantity }})</b> </strong>
                                    </p>

                                    <div class="secondary-content">
                                <span class="add-item">
                                    <button class="btn-floating" id="food-add" data-food="{{ order.food_id }}">
                                        <i class="mdi-content-add"></i>
                                    </button>
                                </span>
                                <span class="remove-item">
                                    <button class="btn-floating" id="food-remove" data-food="{{ order.food_id }}">
                                        <i class="mdi-content-remove"></i>
                                    </button>
                                </span>

                                    </div>
                                </li>
                            {% endfor %}
                        {% else %}
                            <div class="row">
                                You current orders is empty
                            </div>
                        {% endif %}

                    </div>
                </div>

                <div class="col s5">

                    <div class="collection with-header">
                        <div class="collection-header">
                            <h5 class="center-align">
                                Payment
                            </h5>
                        </div>

                        <div class="collection-item">
                            <p class="right-align">
                                <strong><b> TOTAL COST</b></strong> <br>&#8358;{{ total }}
                            </p>

                        </div>
                        <div class="collection-item">
                            <div class="row">
                                <form action="{% url 'cart' %}" method="POST" class="col s12">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col 12">
                                            <span class="center-align">Please Card Details</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i class="mdi-action-account-circle prefix"></i>
                                            {{ payment_form.card_name }}
                                            <label for="id_card_name">Card Name</label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i class="mdi-action-credit-card prefix"></i>
                                            {{ payment_form.card_number }}
                                            <label for="card_number">Card Number</label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-10">
                                            <button class="btn waves-effect waves-light" type="submit" name="action">
                                                Proceed
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col s7">
                    Please Login
                </div>
            </div>
        {% endif %}


    </div>
{% endblock %}