<!DOCTYPE html>
{% load staticfiles %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="{% static 'order/css/materialize.min.css' %}" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'order/css/style.css' %}" media="screen,projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}{% endblock %}</title>
</head>

<body class="body">

{% include 'order/_header.html' %}
<div class="main">
    {% block content %}
    {% endblock %}
</div>
{% include 'order/_footer.html' %}


<script src="{% static 'order/js/jquery.js' %}"></script>
<script src="{% static 'order/js/materialize.min.js' %}"></script>
<script src="{% static 'order/js/init.js' %}"></script>
</body>
</html>